[MASTER]
ignore=tests
extension-pkg-whitelist=pydantic

[BASIC]
good-names=id,i,j,k,ex,Run,_,dt

[FORMAT]
max-line-length=100

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    duplicate-code,
    fixme

[DESIGN]
max-attributes=10
